/*
html {

	width:	1000px;
	
    background: #e0e0e0; 
	 -webkit-align-content: center;
    align-content: center;
	margin: auto;
}*/

body { 
    
    background: #fff;    
	/*
	width: 500px;
	-webkit-align-content: center;
    align-content: center;
	margin: auto;*/
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%
  /*
  -moz-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); 
  -webkit-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); */
}
#myHeader {
	align-content: center;	
	-webkit-align-content: center;
  -moz-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); 
  -webkit-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); 
}
 
#cal { 
/*	width: auto;*/
    -moz-box-shadow:0px 6px 6px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 6px 6px rgba(0, 0, 0, 0.25); 
    margin:10px auto; 
    font: 20px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    display:table; 
}

#cal .header { 
    cursor:default; 
    /*background: #cd310d; 
	/*background: #0d31cd;
    background: -moz-linear-gradient(top, #b32b0c, #cd310d); 
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d)); */
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);    
    background: -moz-linear-gradient(top, #79bbff, #378de5); 
    background: -webkit-gradient(linear, left top, left bottom, from(#79bbff), to(#378de5)); 
    height: 68px; 
    position: relative; 
    color:#fff; 
    -webkit-border-top-left-radius: 20px; 
    -webkit-border-top-right-radius: 20px; 
    -moz-border-radius-topleft: 20px; 
    -moz-border-radius-topright: 20px; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    font-weight:bold; 
    /*text-shadow:0px -2px 0 #87260C; */
    text-shadow:0px -4px 0 rgba(0, 0, 0, 0.25); 
    text-transform: uppercase; 
} 
#cal .header span { 
    display:inline-block; 
    line-height:68px; 
}

#cal .header .hook { 
    width: 18px; 
    height: 56px; 
    position: absolute; 
    bottom:60%; 
    border-radius:20px; 
    -moz-border-radius:20px; 
    -webkit-border-radius:20px; 
    /*background:#ececec;
    background: -moz-linear-gradient(right top, #fff, #827e7d); 
    background: -webkit-gradient(linear, right top, right bottom, from(#fff), to(#827e7d)); */
    background:linear-gradient(to bottom, #79bbff 50%, #378de5 100%);
    background: -moz-linear-gradient(right top, #79bbff, #378de5); 
    background: -webkit-gradient(linear, right top, right bottom, from(#79bbff), to(#378de5)); 
    box-shadow:0px -2px 4px rgba(0, 0, 0, 0.65 ); 
    -moz-box-shadow:0px -2px 4px rgba(0, 0, 0, 0.65 ); 
    -webkit-box-shadow:0px -2px 4px rgba(0, 0, 0, 0.65 ); 
} 
.right.hook { 
    right:15%; 
} 
.left.hook { 
    left: 15%; 
}

#cal .header .button { 
    width:48px; 
    text-align:center; 
    position:absolute; 
    font-size:150%; 
} 
#cal .header .left.button { 
    left:0; 
    -webkit-border-top-left-radius: 10px; 
    -moz-border-radius-topleft: 10px; 
    border-top-left-radius: 10px; 
    border-right:2px solid rgba(0, 0, 0, 0.25 ); /*#ae2a0c; */
} 
#cal .header .right.button { 
    right:0; 
    top:0; 
    border-left:2px solid rgba(0, 0, 0, 0.25 ); /*#ae2a0c; */
    -webkit-border-top-right-radius: 10px; 
    -moz-border-radius-topright: 10px; 
    border-top-right-radius: 10px; 
} 
#cal .header .button:hover { 
    /*
    background: -moz-linear-gradient(top, #d94215, #bb330f); 
    background: -webkit-gradient(linear, left top, left bottom, from(#d94215), to(#bb330f)); 
    */
    background:linear-gradient(to bottom, #79bbff 100%, #378de5 100%);
    background: -moz-linear-gradient(right top, #79bbff, #378de5); 
    background: -webkit-gradient(linear, right top, right bottom, from(#79bbff), to(#378de5)); 
}

#cal .header .month-year { 
    letter-spacing: 2px; 
    width: 100%; 
    text-align: center; 
}

#cal table { 
    background:#fff; 
    border-collapse:collapse; 
} 
#cal td { 
    color:#2b2b2b; 
    width:14vw;
    max-width:14vw;
    min-width:14vw;
    height:40px; 
    line-height:40px; 
    text-align:center; 
    border:2px solid #e6e6e6; 
    cursor:default; 
} 
#cal #days td { 
    /*
    height:42px; 
    line-height: 42px;*/
    width:2ch;   
    overflow:hidden;
    white-space: nowrap;
    text-overflow:clip;    
    padding-left:5px;
    padding-right:5px;
    font-size:80%; 
    color:#3e3e3e; 
} 
#cal #days td:not(:last-child) { 
    border-right:2px solid #fff; 
}

/*my stuff */
#cal #cal-frame td {
	text-shadow: #00000033 0px -2px;
}

#cal #cal-frame td.picked { 
    /*background:#CD31CD; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
    color:#fff; 
	text-shadow: #00000033 0px -2px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;
} 

#cal #cal-frame td.period { 
    /*background:#CD3131; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
    color:#fff; 
	text-shadow: #00000033 0px -2px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;
} 

#cal #cal-frame td.fertile { 
    /*background:#31CD31; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
    color:#fff; 
	text-shadow: #00000033 0px -2px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;

}
#cal #cal-frame td.ovulation { 
    /*background:#31CDCD; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #77b55a 5%, #3e7327 100%);
	background-color:#77b55a;
    color:#fff; 
	text-shadow: #00000033 0px -2px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;
}  
/* end my stuff*/

#cal #cal-frame td.today { 
    /*background:#00000000; 
    color:#00FFFF; */
	text-shadow: #00000033 0px -2px;
	/*font-size: 150%;*/
	font-weight: bold;
	text-decoration: underline;
	
	/*
    box-shadow:4px 4px 0px #00000033 inset; 
    -moz-box-shadow:4px 4px 0px #00000033 inset; 
    -webkit-box-shadow:4px 4px 0px #00000033 inset; */
} 
#cal #cal-frame td:not(.nil):hover { 
    color:#00f; 
    text-shadow: #99f 0px -2px; 
    /*
    text-shadow: #6C1A07 0px -2px; 
    /*background:#CD310D; 
    background:#0000CD; 
    background: -moz-linear-gradient(top, #b32b0c, #cd310d); 
    background: -webkit-gradient(linear, left top, left bottom, from(#b32b0c), to(#cd310d)); 
    -moz-box-shadow:0px 0px 0px; 
    -webkit-box-shadow:0px 0px 0px; */
}

#cal #cal-frame td span { 
    font-size:80%; 
    position:relative; 
} 
#cal #cal-frame td span:first-child { 
    bottom:10px; 
} 
#cal #cal-frame td span:last-child { 
    top:10px; 
}

#cal #cal-frame table.curr { 
    float:left;      
} 
#cal #cal-frame table.temp { 
    position:absolute; 
}

/* lz new stuff */

#input_data {
	border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
	background: #BBDEFB; 
	text-align: center;
	-webkit-align-content: center;
    align-content: center;
	margin-top: 20px;
	font: 20px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;     
	/* display: none;*/
    -moz-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); 
	}
	
#input_data input {
    border: 0px;
    border-radius: 25px;
    background: #ffffff99;
	text-align: center;
	font: 20px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    font-size:120%;
}		

#input_data input[type="button"] {
	width:50px;
	text-align: center;
	font: 20px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
}	

#input_data input[type="date"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*
    margin-left: 50%;
    margin-right: 50%;    
    top: 50%;
    
    position: absolute;    
    transform: translate(-50%, -50%)
    align-content: center;
    align-items: center;
    align-self: center;*/
	font-size:120%;
    text-align: right;    
    color:#fff; 
    height: 50px;
    border:0px;
    border-radius: 25px;    
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background: -moz-linear-gradient(right top, #79bbff, #378de5); 
    background: -webkit-gradient(linear, right top, right bottom, from(#79bbff), to(#378de5)); 
    text-shadow:0px -2px 0 rgba(0, 0, 0, 0.25); 
}

#input_data input[type="button"] {
    font-size:150%;
    color:#fff; 
    height: 50px;
    border:0px;
    border-radius: 25px;    
    background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background: -moz-linear-gradient(right top, #79bbff, #378de5); 
    background: -webkit-gradient(linear, right top, right bottom, from(#79bbff), to(#378de5)); 
    text-shadow:0px -2px 0 rgba(0, 0, 0, 0.25); 
}

#input_data text {
    font-size:120%;    
}

p.luteal {
	visibility: hidden;
	display: none;
}
	
#legend label {
	height: 30px;
	font-size: 18px;
	display: none;
}


#legend { 
/*	width: auto;*/
    -moz-box-shadow:0px 6px 6px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 6px 6px rgba(0, 0, 0, 0.25); 
    margin-left: 2%;
    margin-right: 2%;
    margin:auto;
    font: 26px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    display:table; 
	/* display: none;*/
}

#legend table { 
    background:#fff; 
    border-collapse:collapse; 
	/*
		width: 443px;
		min-width:443px;
		*/
	
} 
#legend td { 
    color:#2b2b2b; 
    width:60px; 
    height:30px; 
    line-height:30px; 
    text-align:center; 
    border:2px solid #e6e6e6; 
    cursor:default; 
	font-size: 18px;
} 

#legend table td.title {
	background: #e6e6e6;
	height: 30px;
	font-weight: bold;
}

#legend table td.desc {

	width:187px;
	font-size: 18px;
}

#legend td {
	text-shadow: #00000033 0px -1px;
}

#legend td.picked { 
    /* background:#CD31CD; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
    color:#fff; 
	text-shadow: #00000033 0px -1px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;
} 

#legend td.period { 
    /* background:#CD3131; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
    color:#fff; 
	text-shadow: #00000033 0px -1px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;
} 

#legend td.fertile { 
    /* background:#31CD31; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
    color:#fff; 
	text-shadow: #00000033 0px -1px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;

}
#legend td.ovulation { 
    /* background:#31CDCD; /*#CD310D; /*#ffeded; */
    background:linear-gradient(to bottom, #77b55a 5%, #3e7327 100%);
	background-color:#77b55a;
    color:#fff; 
	text-shadow: #00000033 0px -1px;
	/*text-shadow: #6C1A07 0px -4px;*/
     box-shadow:2px 2px 0px #00000033 inset; 
    -moz-box-shadow:2px 2px 0px #00000033 inset; 
    -webkit-box-shadow:2px 2px 0px #00000033 inset;
}  
/* end my stuff*/

#legend td.today { 
    /*background:#00000000; 
    color:#00FFFF; */
	text-shadow: #00000033 0px -1px;
	/*font-size: 120%;*/
	font-weight: bold;
	text-decoration: underline;
	
	/*
    box-shadow:4px 4px 0px #00000033 inset; 
    -moz-box-shadow:4px 4px 0px #00000033 inset; 
    -webkit-box-shadow:4px 4px 0px #00000033 inset; */
} 

h1 {
    text-align: center;
    font-size:24px;
    font-weight:bold;    
}

h2 {
    text-align: center;
    font-size:20px;
    font-weight:bold;
    margin-top: 20px;
}

#instruction { 
/*	width: auto;*/
    background:#fff;
    padding-left: 2%;
    padding-right: 2%;
    margin: 2%;
    -moz-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow:0px 12px 12px rgba(0, 0, 0, 0.25); 
    
    font: 16px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    display:table; 
	/* display: none;*/
}

.add-button {
    display: block;
    /*position: static;
    display:inline-block; */
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    min-height: 60px;
    min-width: 120px;
    
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:25px;
	border:1px solid #84bbf3;
	
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.add-button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.fb-share-button {
    display: inline;
    /*position: static;    */
    margin-left: auto;
    margin-right: auto;
    /*bottom: 50px;*/
    padding: 10px;
    margin: 10px;
    font-size:20px;
}

.tw-share-button {
    display: inline;
    /*position: static;    */
    margin-left: auto;
    margin-right: auto;
    /*bottom: 50px;*/
    padding: 10px;
    margin: 10px;
    font-size:20px;
}

.western {
    font: 16px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif; 
    text-align: center;
    font-weight:bold;
}

.text-page {
    padding: 10px;
    background-color:#fff;
}

.date-hint {    
    position: absolute;
    /*display: block;*/
    margin-right: 5px;
    right: 5px;
    max-width: 120px;
    padding:5px;
    border:1px solid #84bbf3;
    border-radius:25px;
    background-color:#fff;
}

ul.share-buttons{
  list-style: none;
  padding: 0;

  position: absolute;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);  
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul.links{
    font-size:20px;
}